# Archivos y carpetas generados por Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock

# Carpeta donde se instalan las gemas de Ruby
vendor/

# Archivos y carpetas generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de editor
.vscode/
.idea/

# Archivos generados por compiladores y transpiladores
*.log
*.log.*
*.log/*
*.txt
*.bak
*.swp
*.map
*.map.*

# Otros archivos y carpetas generados
node_modules/
